*.class

# OS X #
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ #
*.iml
.idea/

# Exchange Configuration (for obvious reasons) #
src/main/resources/my_config.cfg

# Logs #
log/

# Build #
target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Database Files #
*.csv

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
